.ipynb_checkpoints/
venv/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Training test outputs
training_tests*.txt

# Notebook and editor artifacts
*.ipynb_checkpoints
.vscode/

final_project_proposal.pdf
final_project_requirements.pdf
presentation_plan_slides.pdf

data/
training_results/
figures/
misc/
submission/